
#chat-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h3 {
    margin: 10px;
  }

  svg.icon {
    margin: 10px;
  }
}

#message-list {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 0 10px;
  // background-color: var(--color-background-darker);
  border-top: 1px solid var(--color-border);
  // padding: 5px 10px;

  .message {
    // background-color: var(--color-background-darker);
    // border: 1px solid var(--color-border);
    // margin-right: 10px;
    // padding: 5px;
    line-height: 1.4em;
    clear: both;

    // &+ .message {
      // margin-top: 10px;
    // }

    .message-sender {
      font-weight: bold;
      flex: 1 auto;
      float: left;
      margin-right: 10px;
    }

    &:hover > .message-date {
      display: block;
    }

    .message-date {
      font-size: .8em;
      display: none;
      float: right;
    }

    .message-body {
      white-space: pre-line;
    }
  }
}

#input-area {
  flex-shrink: 0;
  margin: 20px;
  margin-top: 0;

  textarea {
    height: 25px;
    background-color: var(--color-background-darker);
    border: 1px solid var(--color-border);
    color: var(--color-main-text);
    margin: 0;

    &:focus {
      border-color: var(--color-border-active);
    }
  }
}
