a {
  color: rgb(41, 128, 185);
  font-weight: bold;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
    color: rgb(41, 128, 185);
  }
}

svg[class^="icon"] {
  stroke: currentcolor;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  width: 2rem;
  height: 2rem;
  margin: 0.4em;
}

select {
  height: 10em;
}

form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

}

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  background-color: rgb(49, 54, 59);
  border: 1px solid rgb(112, 111, 110);

  &:hover {
    border-color: rgb(61, 174, 233);
  }

  &.icon {
    padding: 0;
    line-height: 50%;
  }

  &.pill {
    border-radius: 100px;
  }
}

li {
  list-style-type: none;
}
