
header {
  padding: 10px;
  background-color: var(--color-background-darker);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  flex-direction: row;
  height: 60px;

  #logo {
    flex-grow: 1;

    h1 {
      text-transform: uppercase;
      margin: 0;
      font-family: "Verdana";
    }
  }

  p {
    line-height: 225%;
  }

  .button,
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    // float: right;
    // width: auto;
    // margin-bottom: 0;
    margin: 0 5px;
  }
}

@include media("<=small") {
  // header {
  //   .button,
  //   button,
  //   [type="button"],
  //   [type="reset"],
  //   [type="submit"] {
  //     border-radius: 50%;
  //     text-align: center;
  //     // line-height: 100px;
  //     vertical-align: middle;
  //     // padding: 30px;
  //     height: 3.5rem;
  //     width: 3.5rem;
  //     display: inline-flex;
  //     align-self: center;
  //     font-size: 0 !important;

  //     svg {
  //       font-size: 2rem;
  //       height: 2rem;
  //       width: 2rem;
  //       margin: auto;
  //       display: block;
  //     }
  //   }
  // }
}

@include media(">small") {
  // header {
  //   .button,
  //   button,
  //   [type="button"],
  //   [type="reset"],
  //   [type="submit"] {
  //   }
  // }
}
