
header {
  padding: 10px;
  background-color: rgb(35, 38, 41);
  border-bottom: 1px solid rgb(112, 111, 110);

  #logo h1 {
    text-transform: uppercase;
    margin: 0.3em;
    font-family: "Verdana";
  }

  #auth-status {
    float: right;

    p {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    button {
      float: right;
      width: auto;
      margin-bottom: 0;
    }
  }
}
