body {
  color: rgb(239, 240, 241);
  overflow: hidden;
}

#body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  color: rgb(239, 240, 241);

  background-color: rgb(49, 54, 59);
}

main {
  display: flex;
  flex-direction: row;
  min-height: 0;
}

#content {
  flex-grow: 1;
}

#debug nav .toggle:before {
  border: none;
}

#content {
  padding: 0 20px;
}

footer {
  display: none;
  font-size: 0.8em;
  text-align: right;
  padding: 15px;
  background-color: rgb(35, 38, 41);
  border-top: 1px solid rgb(112, 111, 110);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(35, 38, 41);
} 

::-webkit-scrollbar-thumb {
  background-color: rgba(61, 174, 233, 0.25);
  border-radius: 2.5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(61, 174, 233);
}
