@import "~sscaffold-css";

#body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 15px;

  background-color: aliceblue;
}

main {
  display: flex;
  flex-direction: row;
  min-height: 0;
}

#content {
  flex-grow: 1;
}

#room-view {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#message-list {
  flex-grow: 1;
  overflow-y: scroll;
}

#input-area {
  flex-shrink: 0;
}

select {
  height: 10em;
}

header {
  margin-bottom: 15px;
  padding: 10px;

  #logo h1 {
    text-transform: uppercase;
    margin: 0.3em;
  }

  #auth-status {
    float: right;

    p {
      margin-top: 0;
      margin-bottom: 0.5em;
    }

    button {
      float: right;
    }
  }

  button {
    width: auto;
    margin-bottom: 0;
  }
}

#content,
#sidebar,
header,
footer {
  border-radius: 0.4rem;
  border: 1px gray solid;
  padding: 15px;
  background-color: white;
}

#content, #room-view {
  margin-left: 15px;
}

.button,
button,
[type="button"],
[type="reset"],
[type="submit"] {
  border: 0.1rem solid #595959;
  background-color: beige;
  color: #595959;
  width: 100%;
}

footer {
  margin-top: 15px;
  font-size: 0.8em;
  text-align: right;
}

#sidebar {
  // padding: 0;
  background-color: #d6dfe8;
  overflow-y: auto;

  .button {
    // margin: 5px;
  }

  ul {
    margin: 0;

    li {
      margin: 0;

      .room_link, .group_link {
        padding: 10px;
        margin: 0 -15px;

        &:hover {
          background-color: #b8bfc6;
        }

        &.active {
          background-color: #979ca2;
        }
      }

      .group_link {
        .create_chat_link {
          float: right;
        }
      }

      .room_link {
        padding-left: 20px;
      }
    }
  }
}

#debug nav .toggle:before {
  border: none;
}

li {
  list-style-type: none;
}
