
#sidebar {
  // padding: 0;
  // background-color: #d6dfe8;
  // background-color: var(--color-background-darker);
  overflow-y: auto;
  // min-width: 250px;
  // width: $sidebar_width;
  width: 0;
  padding: 0;
  border-right: 1px solid var(--color-border);
  flex-shrink: 0;
  overflow-x: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  // display: none;
  display: flex;
  flex-direction: column;

  &.visible {
    // display: block;
    width: $sidebar_width;
  }

  #room-list {
    overflow-y: auto;
  }

  > ul > li {
    // border-bottom: 1px solid black;
    padding: 0 10px;
  }

  a {
    font-weight: normal;
    color: var(--color-main-text);

    &:hover {
      opacity: 1;
    }
  }

  .create_chat_link {
    margin: 10px;
    border-radius: 50%;
    text-align: center;
    // line-height: 100px;
    vertical-align: middle;
    // padding: 30px;
    display: inline-flex;
    align-self: center;

    &:hover, &:focus {
      color: var(--color-background-hover);
    }
  }

  ul {
    margin: 0;

    li {
      margin: 0;

      .chat_link, .group_link {
        margin: 0 -10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .room-name {
          margin: 10px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .create_chat_link {
          display: none;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }

        &:hover, &:focus {
          background-color: var(--color-background-hover);

          .create_chat_link {
            display: block;
          }
        }

        &.active {
          background-color: var(--color-primary-element);
        }
      }

      .chat_link {
        padding-left: 30px;
      }
    }
  }
}

#sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar-filter-label {
  margin: 10px;
}
