
#sidebar {
  // padding: 0;
  // background-color: #d6dfe8;
  // background-color: var(--color-background-darker);
  overflow-y: auto;
  // min-width: 250px;
  // width: $sidebar_width;
  width: 0;
  padding: 0;
  border-right: 1px solid var(--color-border);
  flex-shrink: 0;
  overflow-x: hidden;
  transition: width 0.5s ease;
  white-space: nowrap;
  // display: none;
  display: flex;
  flex-direction: column;

  &.visible {
    // display: block;
    width: $sidebar_width;
  }

  a {
    font-weight: normal;
    color: var(--color-main-text);

    &:hover {
      opacity: 1;
    }
  }
}

.sidebar-list {
  margin: 0;

  li {
    margin: 0;
    padding: 0;
  }
}

.sidebar-group-list {
  overflow-y: auto;
}

.sidebar-chat-list {
}

.sidebar-group-item {
  // border-bottom: 1px solid black;
  padding: 0 10px;
}

.sidebar-chat-item {
}

.sidebar-item {
  // margin: 0 -10px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  &:hover, &:focus {
    background-color: var(--color-background-hover);

    .click-dropdown__button {
      // display: inline-flex !important;
      visibility: visible !important;
    }
  }

  &.active {
    background-color: var(--color-primary-element);
  }
}

.room-link {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-link {
}

.chat-link {
  padding-left: 30px;
}

.sidebar-item__dropdown.click-dropdown {
  margin: 10px;
  border-radius: 50%;
  text-align: center;
  // line-height: 100px;
  vertical-align: middle;
  // padding: 30px;
  display: inline-flex;
  align-self: center;

//   svg[class^="icon"] {
//     width: 1.5rem;
//     height: 1.5rem;
//   }

  &:hover, &:focus {
    color: var(--color-background-hover);
  }

  .click-dropdown__button {
    // display: none;
    visibility: hidden;
  }
}

#sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#sidebar-filter-label {
  margin: 10px;
}

.sidebar-header__dropdown-button {
}

.click-dropdown {
  // position:relative;
  display:inline-block;
  // visibility: visible;
  // z-index:2;
  padding:0;
  margin:0;
  outline:0;
  text-align:left;

//   padding: 5px 10px;
//   border: 1px solid #555;
//   border-radius:3px;
//   border: 1px solid var(--color-border);


  &:focus {
    pointer-events:none;
  }

  &:focus, &:hover {
    border-color: var(--color-border-active);
    transition: border-color 0.2s ease;
    // display: block;
  }

//   &:focus ul.click-dropdown-menu {
//     opacity:1;
//     visibility:visible;
//     display: block;
//   }
}

.click-dropdown__menu {
  display:none;
  // visibility: hidden;
  background-color: #364656;
  width: auto;
  margin:3px 0 0 0;
  padding: 10px;
  border-radius:3px;
  pointer-events: auto;
  position: absolute;
  z-index: 1;
  // opacity: 0;
  transition: all 0.5s ease;
  background-color: var(--color-background-darker);
  border: 1px solid var(--color-border);
}

.click-dropdown__item {
    background:transparent;
    border:none;
    outline:0;
    display:block;
    text-decoration:none;

    > a {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--color-main-text);
      font-weight: normal;
      padding: 10px 20px;
      transition: background-color 0s;

      &:focus, &:hover {
        background-color: var(--color-background-hover);
        transition: background-color 0s;
      }

      > svg {
        margin-right: 20px;
      }
    }
  }

.click-dropdown__menu_show {
  display: block !important;
  // visibility: visible !important;
}
